*{
    padding: 0;
    margin: 0;
}
.flex-container{
    display: flex;
    max-width: 100%;
    margin: auto;
    width: 100%;
    min-width: 320px;

}
header{
    background-color:#128c7e;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
}
header .list-items{
    margin: 0 auto;
    display: flex;
    max-width: 80%;
    min-width: 60%;
    justify-content: space-between;
    align-items: center ;
}

.list-items li a{
    color: #fff;
}
header .menu{
    justify-content: space-between;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: #128c7e;
}
.container{
    margin-top: 50px;
    display: flex;
    min-width: 100%;
}
.container-fluid{
    margin-top: 50px;
    display: flex;
    max-width: 80%;
    align-items: center;
    justify-content: space-around;
    margin: 10px auto;
}

.conteudo{
    max-width: 60%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
}
.conteudo-texto{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 4rem;
    margin-right: 15px;
    padding: 15px;
}
.lista{
    margin-top: 10px;
}
.conteudo-texto p{
    font-family: Helvetica, Arial, sans-serif;
}
.conteudo-texto h1{
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}
.conteudo-texto p span{
    color: gray;
    
}
.conteudo img{
    height: 40rem;
}
#business{
    min-height: 600px;
    margin-right: 15px;
    justify-content: space-around;
    background-color: #D8E8EA;
    width: 75rem;
    padding: 30px;
}
#business h1{
    font-weight: bold;
    padding: 40px 10px 40px 10px;
    text-align: center;
    margin: 10px auto;
}
#business p{
    font-weight: 400;
    text-align: center;
    margin: 18px 0px;
    font-size: 18px;
}
#business img{
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#seguranca{
    margin-left: 15px;
    justify-content: space-around;
    background-color: #E7F0E4;
    width: 75rem;
    padding: 30px;
}
.bola{
    margin: 93px auto;
    border-radius: 50%;
    background-color: #77d7c8;
    height: 350px;
    width: 350px;
    overflow: hidden;
}
#seguranca p{
    font-weight: 400;
    text-align: center;
    margin: 18px 0px;
    font-size: 18px;
}
#seguranca h2{
    font-weight: bold;
    padding: 15px 10px 15px 10px;
    text-align: center;
    margin: 10px auto;
}
.centraliza{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px auto;
    flex-direction: column;
}
.botao{
    font-size: 16px;
    display: flex;
    margin: auto;
    border: 1px solid #128c7e;
    color: #128c7e;
    padding: 18px;
    border-radius: 50px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}
.footer{
    background-color: #273443 ;
    padding: 40px 0;  
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica, Arial, sans-serif;
}
.footer-item{
    margin: auto 50px;
    width: 180px;
    height: 300px;
    font-weight: bolder;
}
.footer-item h3{
    padding: 15px 0;
    color: lightgray;
    font-weight: bolder;


}
.footer-item ul li a{
    color: lightgray;
    line-height: 2rem;
}
.termos{
    background-color: #1c1e21;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    height: 55px;
}
.termos h3 {
    color: lightgray;
}
.termos a {
    text-decoration: none;
    color: lightgray;
}

@media (max-width:1024px){
    header{
        display: none;
    }
    .container{
        margin-top: 0px;

    }
    .fundo{
        background-color: #128c7e;
    }
}
@media (min-width:0) and (max-width:650px){

    header{
        display: none;
    }
    .container{
        margin-top: 0px;

    }
    .fundo{
        background-color: #128c7e;
    }
    .conteudo{
        width: 100%;
        flex-wrap: wrap;
    }
    .conteudo .conteudo-texto{
        min-width: 100%;
        color: #fff;
    }
    .conteudo-texto p {
        text-align: center;
    }
    .conteudo .conteudo-texto p span{
        display: none;
    }
    .conteudo-texto h1{
        text-align: center;
        font-size: 20px;
    }
    .conteudo img{
        height: 30rem;
    }
    .list-item li a .active{
        display: block;
    }
    .list-items li a{
        display: none;
    }
    .container-fluid{
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .footer{
        flex-wrap: wrap;
    }
    #business{
        margin: auto;
    }
    #business img{
        width: 300px;
    }
    #seguranca{
        margin: auto;
    }
}
